<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Player Resource Consortium :: Manual :: Content :: ~~~RaceName~~~</title>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<link rel="stylesheet" type="text/css" href="../../../styles/manual_common.css" />
		<link rel="stylesheet" type="text/css" href="../../../styles/manual_content_common.css" />
	</head>
	<body>
		<div class="div_paddedcontent">
			<div><h1> :: ~~~RaceName~~~ :: </h1></div><br />
			<div>~~~RaceTLKDescription~~~</div>
			<div class="div_paddedtop">
				<h2>Racial feats:</h2>
				<!-- List of featpagelink.html -->
				<div>~~~RaceFeats~~~</div>
			</div>
		</div>
	</body>
</html>